@page
@model Hotel_Anna_.Pages.Employee.DeleteModel

@{
    ViewData["Title"] = "Удалить";
}

<h1>Удалить</h1>

<h3>Вы уверены, что хотите удалить сотрудника?</h3>
<div>
    <h4>Сотрудник</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.FIO)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.FIO)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Passport_data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Passport_data)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Address)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Telephone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Telephone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.ID_Position)
        </dt>
        <dd class="col-sm-10">
            @{ if (Model.Positions != null)
                {
                    @Model.Positions.Name_of_the_position }
                else
                {
                    <p>нет</p> } }
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Employee.ID" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться обратно</a>
    </form>
</div>
