@page
@model Hotel_Anna_.Pages.Employee.DetailsModel

@{
    ViewData["Title"] = "Детали";
}

<h1>Детали</h1>

<div>
    <h4>Сотрудник</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.FIO)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.FIO)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Passport_data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Passport_data)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Address)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Telephone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Telephone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.ID_Position)
        </dt>
        <dd class="col-sm-10">
            @{ if (Model.Positions != null)
                {
                    @Model.Positions.Name_of_the_position }
                else
                {
                    <p>нет</p> } }
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Employee.ID">Изменить</a> |
    <a asp-page="./Index">Вернуться обратно</a>
</div>
