@page
@model Hotel_Anna_.Pages.Employee.IndexModel

@{
    ViewData["Title"] = "Список сотрудников";
}

<h1>Список сотрудников</h1>

<p>
    <a asp-page="Create">Добавить сотрудника</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].FIO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Passport_data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Address)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].ID_Position)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Employee) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FIO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Passport_data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <th>
                @{ try
                    {
                        @Model.Positions.First(s => s.ID == item.PositionID).Name_of_the_position }
                    catch
                    {
                        <p>нет</p> } }
            </th>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Изменить</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Подробнее</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
