@page
@model Hotel_Anna_.Pages.Service.DetailsModel

@{
    ViewData["Title"] = "Детали";
}

<h1>Детали</h1>

<div>
    <h4>Услуга</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Services.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Services.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Services.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Services.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Services.Appellation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Services.Appellation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Services.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Services.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Services.ID">Изменить</a> |
    <a asp-page="./Index">Вернуться обратно</a>
</div>
