@page
@model Hotel_Anna_.Pages.Service.IndexModel

@{
    ViewData["Title"] = "Список услуг";
}

<h1>Список услуг</h1>

<p>
    <a asp-page="Create">Добавить услугу</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Services[0].ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Services[0].Appellation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Services[0].Description)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Services[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Services) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Appellation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Изменить</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Подробнее</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
