@page
@model Hotel_Anna_.Pages.FilReq.Filter.FilNomModel
@{
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clients[0].ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clients[0].FIO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clients[0].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clients[0].Passport_data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clients[0].Check_in_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clients[0].Check_out_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clients[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clients[0].Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clients[0].Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clients[0].Service1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clients[0].Service2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clients[0].Service3)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Clients)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FIO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Passport_data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Check_in_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Check_out_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <th>
                   
                      @Model.Room.Appellation
                     
                <th>
                    @{ try
                        {
                            @Model.Employee.First(s => s.ID == item.EmployeeID).FIO
                        }
                        catch
                        {
                            <p>нет</p>
                        } }
                </th>
                <th>
                    @{
                        try
                        {
                            @Model.Services.First(s => s.ID == item.Service1ID).Appellation
                        }
                        catch
                        {
                            <p>нет</p>
                        }
                    }
                </th>
                <th>
                    @{ try
                        {
                            @Model.Services.First(s => s.ID == item.Service2ID).Appellation
                        }
                        catch
                        {
                            <p>нет</p>
                        } }
                </th>
                <th>
                    @{ try
                        {
                            @Model.Services.First(s => s.ID == item.Service3ID).Appellation
                        }
                        catch
                        {
                            <p>нет</p>
                        } }
                </th>
               
            </tr>
        }
    </tbody>
</table>