@page
@model Hotel_Anna_.Pages.Client.DeleteModel

@{
    ViewData["Title"] = "Удалить";
}

<h1>Удалить</h1>

<h3>Вы уверены, что хотите удалить клиента?</h3>
<div>
    <h4>Clients</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clients.FIO)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clients.FIO)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clients.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clients.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clients.Check_in_date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clients.Check_in_date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clients.Check_out_date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clients.Check_out_date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clients.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clients.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clients.Passport_data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clients.Passport_data)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clients.Room)
        </dt>
        <dd class="col-sm-10">
            @{ if (Model.Rooms != null)
                {
    @Model.Rooms.Appellation }
else
{
    <p>нет</p> } }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clients.Employee)
        </dt>
        <dd class="col-sm-10">
            @{ if (Model.Employee != null)
                {
                    @Model.Employee.FIO }
                else
{
                    <p>нет</p> } }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clients.Service1)
        </dt>
        <dd class="col-sm-10">
            @{ if (Model.Services1 != null)
                {
                    @Model.Services1.Appellation }
                else
                {
                    <p>нет</p>
                } }

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clients.Service2)
        </dt>
        <dd class="col-sm-10">
            @{ if (Model.Services2 != null)
                {
    @Model.Services2.Appellation }
else
{
    <p>нет</p> } }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clients.Service3)
        </dt>
        <dd class="col-sm-10">
            @{ if (Model.Services3 != null)
                {
    @Model.Services3.Appellation }
else
{
    <p>нет</p> } }
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Clients.ID" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться обратно</a>
    </form>
</div>
