@page
@model Hotel_Anna_.Pages.Positions.DetailsModel

@{
    ViewData["Title"] = "Детали";
}

<h1>Детали</h1>

<div>
    <h4>Должность</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Positions.Name_of_the_position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Positions.Name_of_the_position)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Positions.Duties)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Positions.Duties)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Positions.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Positions.Salary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Positions.Requirements)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Positions.Requirements)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Positions.ID">Изменить</a> |
    <a asp-page="./Index">Вернуться обратно</a>
</div>
